<?xml version="1.0"?>
<model>
  <name>scout_description</name>
  <version>2.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>AgileX Robotics</name>
    <email>support@agilex.ai</email>
  </author>
  <description>
    Scout mobile robot URDF model for simulation.
  </description>
</model> 